.dashboardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

  .heading {
    color: #414141;
    font-size: 18px;
    font-weight: 600;
  }
}

.sectionNumber {
  display: flex;
  height: 39px;
  background-color: #80bdff;
  border: 1px solid #80bdff;
  border-radius: 4px 0px 0px 4px;
  align-items: center;
  justify-content: center;
  width: 39px;
  color: #fff;
  font-weight: 600;
}

.errsectionNumber {
  display: flex;
  height: 39px;
  background-color: #cf5555;
  border: 1px solid #cf5555;
  border-radius: 4px 0px 0px 4px;
  align-items: center;
  justify-content: center;
  width: 39px;
  color: #fff;
  font-weight: 600;
}
